{% load static %} {% block extrahead %}
<!-- Google Font -->
<link
  href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'rkcss/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'rkcss/rockville.css'%}" />
<link rel="stylesheet" href="{% static 'rkcss/ranking.css'%}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap"
  rel="stylesheet"
/>

{% endblock %}
<body style="background-color: white">
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="header__logo">
            <a href="/"
              ><img
                src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FnuwrN%2Fbtsl1AGHVn5%2FW0ET9hk7cnZqIvuz4MdXV0%2Fimg.png"
                alt=""
            /></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="header__nav">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/challenge">Challenge</a></li>
                {% if user.nickname %}
                <li><a href="/making">Making</a></li>
                {% endif %}
                <li class="active"><a href="/ranking">Ranking</a></li>
                <li><a href="/videogallery">Board</a></li>
                {% if user.nickname %}
                <li>
                  <a href="/logout">Logout</a>
                </li>
                {% else %}
                <li>
                  <a href="/login">Login</a>
                </li>
                {% endif%}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div id="mobile-menu-wrap"></div>
    </div>
  </header>
  <section class="discography spad">
    <div class="content-container">
      <div
        class="col-lg-12"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div class="content-container-inner">
          <p>저희 서비스에 총 {{ score_count }} 명이 참가하였습니다.</p>
        </div>
        <form method="GET" action="">
          <input
            id="summonerNameInput"
            name="query"
            type="text"
            placeholder="참가자명"
          />
        </form>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-1">Rank</div>
          <div class="col">Nickname</div>
          <div class="col">Singer</div>
          <div class="col">Song</div>
          <div class="col">Score</div>
        </div>
        {% for res in result %}
        <div class="row">
          <div class="col-1" style="padding-left: 20px">
            {% if forloop.counter == 1 %}
            <img src="/media/medal1.png" class="medal-img" />
            {% elif forloop.counter == 2 %}
            <img src="/media/medal2.png" class="medal-img" />
            {% elif forloop.counter == 3 %}
            <img src="/media/medal3.png" class="medal-img" />
            {% else %}
            <div style="padding-left: 7px">{{ forloop.counter }}</div>
            {% endif %}
          </div>
          <div class="col">{{ res.0 }}</div>
          <div class="col">{{ res.3 }}</div>
          <div class="col">{{ res.2 }}</div>
          <div class="col">{{ res.1 | floatformat:2 }} Points</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <footer class="footer spad set-bg" data-setbg="">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer__address">
            <ul>
              <li>
                <a href="/policy" target="_blank" style="color: black"
                  >이용약관</a
                >
              </li>
              <li>
                <a href="/privacy" target="_blank" style="color: black"
                  >개인정보 처리방침</a
                >
              </li>
              <li>
                <h2 style="color: black">ALIVE</h2>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 col-md-6">
          <div class="footer__social">
            <div class="footer__social__links">
              <p>주소 부분</p>
              <p style="color: black">
                광주광역시 북구 신안동 무등로202번길 15<br />KT신안빌딩
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer__address" style="margin-left: 90px">
            <ul style="display: flex">
              <li class="icon_li">
                <a
                  href="https://www.youtube.com/watch?v=oSfiSswjiBQ&list=PL_WCuvyChN3g7tC-_q1UexhM61t51yPM_"
                  target="_blank"
                  style="color: white"
                >
                  <img
                    src="/static/img/youtube.png"
                    alt=""
                    style="width: 50px"
                  />
                </a>
              </li>
              <li class="icon_li">
                <a
                  href="https://github.com/Junobee25/ai-33-project/tree/develop"
                  target="_blank"
                  style="color: white"
                >
                  <img
                    src="/static/img/github.png"
                    alt=""
                    style="width: 50px"
                  />
                </a>
              </li>
              <li class="icon_li">
                <a
                  href="https://www.instagram.com/aivlestory/"
                  target="_blank"
                  style="color: white"
                >
                  <img
                    src="/static/img/instagram.png"
                    alt=""
                    style="width: 50px"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <div class="footer__copyright__text">
        <p>
          Copyright &copy; 카피라이트 부분
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="fa fa-heart" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">링크</a>
        </p>
      </div>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </div>
  </footer>
</body>
<script src="{% static 'rkjs/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'rkjs/bootstrap.min.js'%}"></script>
<script src="{% static 'rkjs/main.js'%}"></script>
