<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chcss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chcss/challenge.css' %}">
    <title>Gallery</title>
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="/"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">HOME</a></li>
                                <li><a href="/making">MAKING</a></li>
                                <li><a href="/ranking">RANKING</a></li>
                                <li><a href="/board">BOARD</a></li>
                                <li><a href="/login">LOGIN</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

    <!-- Discography Section Begin -->
    <section class="discography spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="width: 115px; height: 30px;"></div>
                    <div class="section-title center-title">
                        <h2 style="color: white;">Challenge</h2>
                    </div>
                    <div style="width: 115px; height: 30px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="discography__item">
                        <div class="discography__item__pic">
                            <img src="/media/flower2.jpg" alt="">
                        </div>
                        <div class="discography__item__text" style="background-color: white;">
                            <span>제목 : 지수 꽃</span>
                            <h5>참가한 유저 수 : 24</h5>
                            <h5>베스트 유저 : 배준오</h5>
                            <h5>정확도 : 100%</h5>
                        </div>
                        <div>
                        <button>하이</button>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="discography__item">
                        <div class="discography__item__pic">
                            <img src="/media/hypeboy.jpg" alt="">
                        </div>
                        <div class="discography__item__text" style="background-color: white;">
                            <span>제목 : 뉴진스 HypeBoy</span>
                            <h5>참가한 유저 수 : 3</h5>
                            <h5>베스트 유저 : 송준원</h5>
                            <h5>정확도 : 100%</h5>
                        </div>
                        <div>
                        <button>하이</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="discography__item">
                        <div class="discography__item__pic">
                            <img src="/media/queen.jpg" alt="">
                        </div>
                        <div class="discography__item__text" style="background-color: white;">
                            <span>제목 : 아이들 퀸카</span>
                            <h5>참가한 유저 수 : 5</h5>
                            <h5>베스트 유저 : 조창근</h5>
                            <h5>정확도 : 100%</h5>
                        </div>
                        <div>
                        <button>하이</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


    {% block content %}
    {% endblock %}
    <script src="{% static 'chjs/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'chjs/bootstrap.min.js' %}"></script>
    <script src="{% static 'chjs/main.js' %}"></script>

</body>
</html>