
html,
body {
    height: 100%;
    font-family: "Now Regular";
    -webkit-font-smoothing: antialiased;
    background-color: black;
}

body::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 10%; /* 스크롤바의 길이 */
    background: #ee1e31; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(62, 66, 72, 0.1);  /*스크롤바 뒷 배경 색상*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Rajdhani", sans-serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 15px;
    font-family: "Now Regular";
    color: #444444;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}


/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}


/*---------------------
  Header
-----------------------*/

.header {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header.header--normal {
    position: relative;
    background-color: black;
}

.header__logo {
    padding: 20px 0 25px;
}

.header__logo a {
    display: inline-block;
}

.header__nav {
    text-align: right;
}

.header__menu {
    padding: 31px 0 27px;
    display: inline-block;
    margin-right: 45px;
}

.header__menu ul li {
    list-style: none;
    display: inline-block;
    margin-right: 45px;
    position: relative;
}

.header__menu ul li.active a:after {
    opacity: 1;
}

.header__menu ul li:hover a:after {
    opacity: 1;
}

.header__menu ul li:hover .dropdown {
    top: 34px;
    opacity: 1;
    visibility: visible;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.header__menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 56px;
    width: 150px;
    background: #111111;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
    display: block;
    margin-right: 0;
}

.header__menu ul li .dropdown li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    padding: 8px 20px;
    text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
    display: none;
}


.header__menu ul li a {
	font-size: 15px;
	font-family:"Cantata One";
	color: #ffffff;
	display: block;
	padding: 6px 0;
	position: relative;
}

.header__menu ul li a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
}

/*---------------------
  Footer
-----------------------*/

.footer {
    height: 400px;
}

.footer.footer--normal {
    margin-top: 0;
}

.footer__address {
    margin-bottom: 50px;
}

.footer__address ul li {
    list-style: none;
    font-size: 15px;
    position: relative;
}

.footer__address ul li:last-child {
    margin-bottom: 0;
}

.footer__address ul li i {
    font-size: 18px;
    color: #5c00ce;
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

.footer__address ul li p {
    color: #ffffff;
    opacity: 0.7;
    margin-bottom: 8px;
}

.footer__address ul li h6 {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}

.footer__social {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.footer__social::before {
    position: absolute;
    left: -46px;
    top: 3px;
    width: 1px;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    content: "";
}

.footer__social::after {
    position: absolute;
    right: -50px;
    top: 3px;
    width: 1px;
    height: 130px;
    background: rgba(255, 255, 255, 0.2);
    content: "";
}

.footer__social h2 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer__social .footer__social__links a {
    font-size: 18px;
    color: #5c00ce;
    height: 50px;
    width: 50px;
    background: #ffffff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

.footer__social .footer__social__links a:last-child {
    margin-right: 0;
}

.footer__copyright__text {
    text-align: center;
}

.footer__copyright__text p {
    color: #999999;
}

.footer__copyright__text a {
    color: #999999;
    text-decoration: underline;
}

.footer__copyright__text a:hover {
    color: #5c00ce;
}

.footer__copyright__text i {
    color: #c11;
}


/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}


/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header__menu ul li {
        margin-right: 18px;
    }
    .header__menu {
        margin-right: 30px;
    }

}


/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header__right__social {
        display: none;
    }
    .header__menu {
        margin-right: 0;
    }
    .header__menu ul li {
        margin-right: 15px;
    }
    
    .footer {
        height: auto;
    }
    
    .footer__social::before {
        display: none;
    }
    .footer__social::after {
        display: none;
    }
   
    .footer {
        background-position: top 0 left 19%;
    }
}


/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
    .footer {
        height: auto;
    }
    .footer__social::before {
        display: none;
    }
    .footer__social::after {
        display: none;
    }
    
    .footer__social {
        text-align: left;
    }
    .header__nav {
        display: none;
    }
    .header .container {
        position: relative;
    }
    .footer {
        background-position: top 0 left 19%;
    }
}


/* Small Device = 320px */

@media only screen and (max-width: 479px) {
    .footer {
        /* margin-top: -970px; */
        background-position: top 0 left 19%;
    }
}


/* 김규리 - .title, .upload-box, .image-upload .file, #chooseImage, input, button 효과 수정*/


/* Image upload page */

.title {
    text-align: center;
    color: white;
}

.upload-box {
    width: 100%;
    /* overflow: hidden; */
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    margin-top: 100px;
}

.upload-box .drag-file {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px outset #dbdbdb;
    border-radius: 27px;
    background-color: #000000;
}

.upload-box .drag-file.highlight {
    border: 3px solid #EE1E31;
}

.upload-box .drag-file .image {
    width: 40px;
}

.image-upload:hover {
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    border: 2px solid black;
}

.upload-box .drag-file .drag_message {
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(255, 255, 255);
}

.upload-box .drag-file .preview {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    /* 원본 비율 유지 -> 100%, fit : cover - 상위 div크기에 딱 맞도록. */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.image-upload {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    border: 2px solid white;
}

.Image_result {
    width: 1080px;
    height: 950px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.Image_button {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.file {
    display: none;
}

#chooseImage {
    margin: 10px 0;
}


/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    position: relative;
    display: inline-block;
    background: #EE1E31;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    /* padding: 0.65em 3em 0.65em 3em; */
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 300;
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    font-weight: 600;
    color: black;
    background: #ffffff;
    display: inline-block;

}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
button.alt,
.button.alt {
    background: #2B252C;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
button.alt:hover,
.button.alt:hover {
    background: #3B353C;
}


/* 김규리 - making.html 에서 album_name_input 부분 추가 */

#album_name_input {
    width: 500px;
    /* 원하는 너비로 설정 */
    height: 35px;
    /* 원하는 높이로 설정 */
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 13px;
    outline: none;
}

#album_name_input::placeholder {
    color: #999;
}

#album_name_input:focus {
    border-color: #0077ff;
}

svg {
    display: block;
    font: 200px 'Montserrat';
    width: 800px;
    height: 100px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 7% 29%;
    stroke-width: 10px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #1b1b1b;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #535353;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #838383;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #b3b3b3;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #ffffff;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

#create-album-art-button {
    text-align: center;
    margin-left: 35px;
    margin: 10px 15px;
    height: 55px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    border: 2px solid white;
}

#create-album-art-button:hover {
    transition: background-color 0.85s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    border: 2px solid black;
}

select {
    margin: 20px 10px 20px 1px;
    height: 30px;
}

#image-preview-container {
    /* max-width: 100%; */
    overflow: hidden;
    border-radius: 25px;
}
