{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>ALIVE : 계정정보 찾기 {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap.min1.css'%}" />
    <link rel="stylesheet" href="{% static 'accounts/style.css'%}" />
    <link rel="stylesheet" href="{% static 'accounts/login.css'%}" />
    <link rel="stylesheet" href="{% static 'accounts/font-awesome.min.css'%}" />
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <!-- Custom styles for this template -->
  </head>
  <body style="background-color: black">
    <main role="main">{% block content %} {% endblock %}</main>
  </body>
</html>
