<!DOCTYPE html>
<html lang="en">
<head>
    {% load date_helpers %}
    {% load humanize %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alive</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/rockville.css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">

</head>

 <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="/"><img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FnuwrN%2Fbtsl1AGHVn5%2FW0ET9hk7cnZqIvuz4MdXV0%2Fimg.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li class=><a href="/challenge">Challenge</a></li>
                                {% if user.nickname %}
                                <li><a href="/making">Making</a></li>
                                {% endif %}
                                <li><a href="/ranking">Ranking</a></li>
                                <li><a href="/videogallery">Board</a></li>
                                {% if user.username %}
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="/login">Login</a>
                                </li>
                                {% endif%}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="video-container">
                    <video autoplay loop muted>
                        <source src="/static/img/videos/back.mp4" type="video/mp4">
                    </video>
                    <div class="text-overlay">
                        {% if user.nickname %}
                        <h2 style="color: white; font-family:Cantata One" id="changetext">Welcome {{ user.nickname }}</h2>
                        {% else %}
                        <h2 style="color: white; font-family:Cantata One" id="changetext">Make Something People Love?</h2>
                        {% endif %}
                    </div>
                </div> 
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg">
        <div class="linear__icon">
            <i class="fa fa-angle-double-down"></i>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Event Section Begin -->
    <section class="event spad" style="padding-bottom:30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: white; font-family:Cantata One">Challenge</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event__slider owl-carousel">
                    {% for item in data %}
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="{{ item.img }}">
                                <div class="tag-date">
                                    <span style="color: white;">{{ item.title}} {{item.singer}}</span>
                                </div>
                            </div>
                            {% if item.nickname == None %}
                            <div class="event__item__text">
                                <h4 style="color: white; font-family:Cantata One">참가자 없음</h4>
                            </div>
                            {% else %}
                            <div class="event__item__text">
                                <h4 style="color: white; font-family:Cantata One">BEST USER - {{ item.nickname }}</h4>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="event spad" style="padding-top:50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: white; font-family:Cantata One">Album JARKET</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="event__slider owl-carousel">
                    {% for item in transformItem %}
                    <div class="col-lg-4">
                        <div class="event__item">
                            <div class="event__item__pic set-bg" data-setbg="{{ item.image_url }}">
                                <div class="tag-date">
                                    <span style="color: white;">{{ item.date | timesince }} 전</span>
                                </div>
                            </div>
                            <div class="event__item__text">
                                <h4 style="color: white; font-family:Cantata One">제작자 : {{ item.nickname }}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>  
    <!-- Footer Section End -->
    <footer class="footer spad set-bg" data-setbg="">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <a href="/policy" target='_blank' style="color: white;">이용약관</a>
                            </li>
                            <li>
                                <a href="/privacy" target='_blank' style="color: white;">개인정보 처리방침</a>
                            </li>
                            <li>
                                <h2 style="color: white;">ALIVE</h2>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <div class="footer__social">
                        <div class="footer__social__links">
                            <p>주소 부분</p>
                            <p style="color:white;">광주광역시 북구 신안동 무등로202번길 15<br>KT신안빌딩</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer__address" style="margin-left: 90px;">
                        <ul style="display: flex;">
                            <li class="icon_li">
                                <a href="https://www.youtube.com/watch?v=oSfiSswjiBQ&list=PL_WCuvyChN3g7tC-_q1UexhM61t51yPM_" target='_blank' style="color: white;">
                                    <img src="/static/img/youtube.png" alt="" style="width: 50px;">
                                </a>
                            </li>
                            <li class="icon_li">
                                <a href="https://github.com/Junobee25/ai-33-project/tree/develop" target='_blank' style="color: white;">
                                    <img src="/static/img/github.png" alt="" style="width: 50px;">
                                </a>
                            </li>
                            <li class="icon_li">
                                <a href="https://www.instagram.com/aivlestory/" target='_blank' style="color: white;">
                                    <img src="/static/img/instagram.png" alt="" style="width: 50px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy; 카피라이트 부분
                    <script>
                        document.write(new Date().getFullYear());
                    </script> 
                    All rights reserved | This template is made with 
                    <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">링크</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </footer>
    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.nicescroll.min.js"></script>
    <script src="/static/js/jquery.barfiller.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>