<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/bootstrap.min1.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/login.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/style.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'accounts/nowfont.css'%}">
    <title>Login</title>
</head>
<body>
    <section class="login-form">
        <h1>LOGIN</h1>
        <form action="" method="post">
            <div class="int-area">
                <input type="text" name="username" id="id"
                autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="password" id="pw"
                autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button id="login_btn"
                type="submit">LOGIN</button>
            </div>
        </form> 
        <div class="caption">
            <a href="">Forgot Password?</a>
        </div>
        <div class="join">
            <a href="/login/join">Join</a>
        </div>
    <script src="{% static 'accjs/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'accjs/login.js' %}"> </script>
</body>
</html>