{% extends 'base_auth.html' %} {% load static %} {% block content %}

<div class="row" style="justify-content: space-around; text-align: center">
  <div class="col-md-4" style="width: 400px; margin-top: 100px">
    <div class="card mt-5">
      <div class="card-body" style="background-color: black; height: 350px">
        <div class="card-title py-3">
          <h4 style="color: white">계정에 등록된 이메일을 입력하세요.</h4>
        </div>

        <form action="/login/request-reset-link" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}

          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{values.email}}"
              style="
                color: white;
                background-color: black;
                border: 1px solid #ffffff42;
                border-bottom: 2px solid white;
              "
            />
          </div>

          <input
            type="submit"
            value="Submit"
            class="btn btn-block btn-primary submit-btn"
          />
        </form>
        <div class="container" style="margin-top: 15px">
          <span class="text-lead lead" style="font-size: 16px; color: white"
            >계정이 없으신가요?</span
          >
          <a href="/policy">Join</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  {% endblock content %}
</div>
