{% extends 'base_auth.html' %} 
{% load static %} 

{% block content %}

<div class="row">
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title py-3">
                    <h4>계정에 등록된 이메일을 입력하세요.</h4>
                </div>

                    <form action="/login/request-reset-link" method="post">
                    {% csrf_token %} 
                    {% include 'partials/_messages.html' %}

                    <div class="form-group">
                        <input 
                            type="email" 
                            name="email" 
                            placeholder="Email" 
                            class="form-control form-control-sm" 
                            id="emailField" 
                            value="{{values.email}}" />
                    </div>

                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </form>
                <div class="container">
                    <span class="text-lead lead">계정이 없으신가요?</span>
                    <a href="/policy">Join</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    {% endblock content %}