{% extends 'base_auth.html' %} {% load static %} {% block content %}
<script src="{% static 'accjs/jquery-3.3.1.min.js' %}"></script>

<div class="row" style="justify-content: space-around; text-align: center">
  <div class="col-md-4" style="width: 400px; margin-top: 100px">
    <div class="card mt-5">
      <div class="card-body" style="background-color: black">
        <div class="card-title py-3">
          <h4 style="color: white">새로운 비밀번호를 설정하세요.</h4>
        </div>
        <form
          action="/login/set-new-password/{{uidb64}}/{{token}}"
          method="post"
        >
          {% csrf_token %} {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              style="
                background-color: black;
                color: white;
                border: 0;
                border-bottom: 2px solid white;
              "
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small
              style="color: white"
              class="float-right py-3 showPasswordToggle"
              >SHOW</small
            >
          </div>
          <div class="form-group">
            <input
              style="
                background-color: black;
                color: white;
                border: 0;
                border-bottom: 2px solid white;
              "
              type="password"
              name="password2"
              placeholder="Confirm Password"
              class="form-control form-control-sm"
              id="confirmPasswordField"
            />
            <small
              style="color: white"
              class="float-right py-3 showPasswordToggle2"
              >SHOW</small
            >
          </div>
          <input
            type="submit"
            value="Submit"
            class="btn btn-block btn-primary submit-btn"
          />
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <script>
    $(document).ready(function () {
      $(document).on("click", ".showPasswordToggle", function () {
        var passwordField = $("#passwordField");
        var showPasswordToggle = $(this);

        if (passwordField.attr("type") === "password") {
          passwordField.attr("type", "text");
          showPasswordToggle.text("HIDE");
        } else {
          passwordField.attr("type", "password");
          showPasswordToggle.text("SHOW");
        }
      });

      $(document).on("click", ".showPasswordToggle2", function () {
        var confirmPasswordField = $("#confirmPasswordField");
        var showPasswordToggle = $(this);

        if (confirmPasswordField.attr("type") === "password") {
          confirmPasswordField.attr("type", "text");
          showPasswordToggle.text("HIDE");
        } else {
          confirmPasswordField.attr("type", "password");
          showPasswordToggle.text("SHOW");
        }
      });
    });
  </script>
  <script src="{% static 'accjs/join.js' %}"></script>

  {% endblock content %}
</div>
